body {
    background-color: #5f9ea0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

h1{
    margin: 0;
}

header, footer {
    text-align: center;
    background-color: #4d898a;
    padding: 20px 0;
}

#flex_section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

a {
    text-decoration: none;
}

.flex_div {
    padding: 20px 30px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
}

footer {
    bottom: 0;
    position:relative;
    width: 100%;
}


.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: #3d9172;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: #3d91728c}

.button:active {
 background-color: #3d91728c;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}





